* {
    margin: 0;
    scroll-behavior: smooth;
}

body {
    font-family: Open Sans, serif;
    height: 100vh;
    background-color: #838383;
    display: flex;
    align-items: center;
    column-gap: 2rem;
}

.menu-container{
    display: flex;
    flex-direction: column;
    justify-self: left;
    justify-content: space-around;
    align-items: center;
    background-color: #F2F2F2;
    width: 16em;
    height: 100vh;
    border-radius: 0 1em 1em 0;
}

.imagem-usuário{
    width: 10em;
    height: 10em;
    border-radius: 1em;
}

ul{
    list-style: none;
}

.cards-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
    width: 101em;
    height: 58em;
    background-color: #F2F2F2;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
}

.card {
    width: 32em;
    background-color: #fff;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
}

.titulo {
    font-size: large;
    font-weight: bold;
}

.tarefas-form, .edicao-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8em;
    height: 13em;
}

input[name="descricao"]{
    width: 21em;
    height: 1em;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    padding: 0.5em;
    font-size: medium;
}

.erro-validacao {
    color: red;
    font-size: small;
    font-weight: bold;
}

.adicionar-tarefa{
    /*background-color: red;*/
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32em;
}

.tarefa-detalhes{
    display: flex;
    justify-content: space-around;
    width: 13em;
}

.botao{
    width: 6em;
    height: 2em;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.15);
    border: none;
    cursor: pointer;
    color: white;
}

.adc{
    background-color: #00c070;
}

.edt{
    background-color: #00bf6f;
}

.tarefa{
    list-style: none;
    width: 23em;
    height: 3em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e3f1fc;
    border-radius: 0.5em;
    margin: 0.5em 0 0.5em 0;
}

.descricao{
    margin-left: 1em;
}

.round-button {
    width: 1.6em;
    height: 1.6em;
    border: thin;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.greenbg{
    background-color: #16b216;
}

.redbg{
    background-color: #bf1f1f;
}

.yellowbg{
    background-color: #d7d72d;
}

i {
    display: flex;
    color: #fff;
    align-self: center;
    justify-content: center;
}

.prioridade{
    width: 6em;
    font-weight: bold;
}

.tarefas-container{
    height: 20em;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-top: 1em;
    gap: 0.5em;
}


.tarefas-titulo{
    margin-top: 1em;
}

.tarefas-space{
    display: flex;
    flex-direction: column;
}

.botoes-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10em;
    margin-right: 1em;
}

.botoes-redondos-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 15em;
}

#prioridade, input[type = "date"], select{
    height: 1.6em;
    width: 6em;
    border-radius: 0.5em;
    box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.15);
    border: thin solid #1a1a1a;
    align-self: center;
}

.data-conclusao {
    height: 1.5em;
}

#prioridade{
    height: 1.7em;
}

.tarefas-container::-webkit-scrollbar {
    width: 5px;
}

.tarefas-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.tarefas-container::-webkit-scrollbar-thumb {
    background: #000000;
}

.tarefas-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}