.cards-container-background{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex-wrap: wrap;

    width: 94em;
    height: 58em;

    border-radius: 1em;
    background: #f2f2f2;
}

.card {
    width: 43em;
    border-radius: 1em;
    background: #FFF;
}

.colunas-cards-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 2em;
    width: 100%;
    height: 100%;
}

.coluna1, .coluna2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 46%;
    height: 92%;
}

/*Card de adição---------------------*/
.adicionar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 15em;
}
/*----------------------------------*/

/*Card de exibição------------------*/
.tarefas-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    height: 35em;
}

.tarefas-space{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

    padding: 0;

    overflow-y: scroll;
}

.tarefas-titulo{
    margin-top: 1em;
}

li .tarefa:first-child{
    margin-top: 1.8em;
}

/*Tarefa individual*/
.tarefa{
    display: flex;
    align-items: center;
    gap: 5em;

    background: #f2f2f2;
    border-radius: 1em;
    width: 30em;
    height: 5em;
}

.botoes-container{
    display: flex;
    gap: 1em;
}

.descricao{
    width: 8.5em;
}

.botoes-redondos-container{
    display: flex;
}

/*Barra de scroll*/
.tarefas-container::-webkit-scrollbar {
    width: 5px;
}

.tarefas-container::-webkit-scrollbar-track {
    background: #9d9d9d;
}

.tarefas-container::-webkit-scrollbar-thumb {
    background: #000000;
    border-radius: 20px;
}

.tarefas-container::-webkit-scrollbar-thumb:hover {
    background: #555;
}
/*--------------*/

.calendario-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 34em;
}

#calendario{
    width: 95%;
    height: 95%
}

.estatistica-conclusao-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 16em;
}
/*----------------------------------*/