:root{
    --drop-shadow:  0 0.5em 0.5em 0 rgba(0, 0, 0, 0.25);
    --card-shadow: 0.2em 0.2em 0.5em 0 rgba(0, 0, 0, 0.25);
}

body{
    display: flex;
    align-items: center;
    gap: 2.8rem;

    height: 100vh;
    background: #838383;;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.drop-shadow {
    box-shadow: var(--drop-shadow);
}