<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-with, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <title>Do it, now!</title>
</head>
    <body>
        <div class="content-container">
            <form class="edicao-form card" th:object="${tarefa}" th:method="PUT" th:action="@{/tarefas}">
                <h1 class="titulo">Editar tarefa</h1>
                <p class="erro-validacao" th:if="${#fields.hasErrors('descricao')}" th:errors="*{descricao}">Descrição Inválida.</p>
                <input name="descricao" type="text" th:field="*{descricao}" required>
                <input type="hidden" name="id" th:value="${tarefa.id}" />
                <input type="hidden" name="dataCriacao" th:value="${tarefa.dataCriacao}">
                <div class="adicionar-tarefa">
                    <div class="tarefa-detalhes">
                        <select th:value="${tarefa.prioridade}" name="prioridade">
                            <option selected disabled><span th:text="${tarefa.prioridade}"></span></option>
                            <option th:field="*{prioridade}" value="BAIXA">Baixa</option>
                            <option th:field="*{prioridade}"  value="MEDIA">Média</option>
                            <option th:field="*{prioridade}"  value="ALTA">Alta</option>
                        </select>
                        <input class="data-conclusao" th:value="${tarefa.dataConclusao}" type="date" name="dataConclusao">
                    </div>
                    <br/>
                </div>
                <button class="botao edt" type="submit">Salvar</button>
            </form>
        </div>
    </body>
</html>
