<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-with, initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
        <title>Do it, now!</title>
    </head>
    <body>
        <div th:replace="~{home :: menu}"></div>

        <div class="cards-container-background">
            <form class="evento-form" method="POST" th:action="@{/evento}" th:object="${evento}">
                <input th:field="${evento.titulo}" type="text" placeholder="Título">
                <textarea th:field="${evento.descricao}" placeholder="Descrição"></textarea>
                <input th:field="${evento.diaTodo}" id="dia-todo" type="checkbox" placeholder="Data">
                <label for="dia-todo">Dia todo</label>
                <input th:field="${evento.dataInicio}" id="data-inicio" type="date"><input th:field="${evento.horaInicio}" id="hora inicio" type="time">
                <input th:field="${evento.dataFinal}" id="data-final" type="date"><input th:field="${evento.horaFinal}" id="hora final" type="time">
                <input th:field="${evento.corDeBackground}" id="cor-background" type="color">
                <button type="submit">Adicionar</button>
            </form>
            <div id="calendario-planejamento"></div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script th:src="@{js/calendario-planejamento.js}"></script>
    </body>
</html>